<html>

   <head>
     <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
   </head>

   <body>
     <div class="row">
        <h1 class="text-center"> Welcome to ArcTracker v0.1!</h1>
     </div>
     <div class="row">
        <img class="center-block" src="static/images/arcTrackerPic.jpg" alt="ArcTracker" style="width:752px;height:440px;">
     </div>
     <div class="form-group">
       &nbsp;
     </div>
     <div class="row">
        <p class="text-center lead"> This app is designed to keep track of items that top level arc
            warden (eventually any hero) players are purchasing and information
            about their games </p>
     </div>
     <div class="row">
     <form action="/result" method="get">
        <div class="form-group">
            <button class="center-block" type="submit" value="GetItems">Retrieve Item Counts!</button>
        </div>
     </form>
    </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" scr="/static/js/bootstrap.min.js"></script>

</html>
