<html>

   <head>
   </head>

   <body>
     <h1> Welcome to ArcTracker v0.1!</h1>
     <img src="static/images/arcTrackerPic.jpg" alt="ArcTracker" style="width:752px;height:440px;">
     <p> This app is designed to keep track of items that top level arc
         warden (eventually any hero) players are purchasing and information
         about their games </p>
      <form action="/result" method="get">
        <button type="submit" value="GetItems">Retrieve Item Counts!</button>
      </form>
   </body>

</html>
